@{
    ViewBag.Title = "Upload Document";
}

<span>
    <h2>Upload Document</h2>
    <form action="" method="post" enctype="multipart/form-data">
        <table>
            <td>
                <label for="file">Filename</label>
            </td>
            <td>
                <input type="file" name="file" id="file" />
            </td>
            <td>
                <input type="submit" value="Upload" />
            </td>
        </table>
    </form>
</span>


